%body
  %header
  .home-navigate
    %a#header-title{:href => "http://localhost:3000/"} Fashion App
  .normal-main_content
    .normalwear-title
      %p 一般服を極めよう！
    .normal-buttons
      .normal-shop
        %a{:href => "normalshops"} お気に入りショップ
      .normal-itemlist
        %a{:href => "normalitemlists"} アイテムリスト
      .normal-setup
        %a{:href => "normalsetups"} セットアップリスト
  %footer
