%body
  %header
  .home-navigate
    %a#header-title{:href => "http://localhost:3000/"} Fashion App
  .mein-content
    .home-title
      %p スーツを極めよう！
    .suit-buttons
      .suit-shop
        %a{:href => "suitshops"} お気に入りショップ
      .suit-itemlist
        %a{:href => "suititemlists"} アイテムリスト
      .suit-setup
        %a{:href => "suitsetups"} セットアップリスト
  %footer
