%body
  %header
  .home-navigate
    %a#header-title{:href => "http://localhost:3000/"} Fashion App
  .mein-content
    .home-title
      %p どちらのファッションを楽しむ？
    .buttons
      %a#formal-button{:href => "normals"} 一般服
      %a#suit-button{:href => "suits"} スーツ
  %footer
