.suit-buttons{
  width: 900px;
  line-height: 100px;
  text-align: center;
  font-size: 75px;
  padding-top: 50px;
}

.suit-shop{
  border: 2px solid;
  margin: 20px;
  background-color: orange;
}

.suit-itemlist{
  border: 2px solid;
  margin: 20px;
  background-color: seagreen;
}

.suit-setup{
  border: 2px solid;
  margin: 20px;
  background-color: paleturquoise;
}